.dashboard{
    background-color: var(--bg-color);
    box-shadow: 0rem 0rem 1rem -0.5rem;
    height: 80%;
    border-radius: 3rem;
    margin: 2rem;
    padding: 1rem;
}
.section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.section1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}
.container{
    padding: 0.5rem;
    border-radius: 3rem;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.title{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--btn-color);
    padding: 0.3rem 1rem 0.3rem 1rem;
    box-shadow: 0rem 0rem 1rem -0.5rem;
    border-radius: 2rem;
    height: 10vh;
    width: 12vw;
    flex-direction: column;
    margin-bottom:1rem;
}
.title-head{
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: center;
    height: 20%;
}
.story{
    background-color: var(--1);
    padding: 0.3rem 1rem 0.3rem 1rem;
    border-radius: 3rem;
    box-shadow: 0rem 0rem 1rem -0.5rem;
    font-size: 0.8rem;
}
.colordiv{
    background-color: gray;
    height: 1.5vh;
    width: 10vw;
    border-radius: 5rem;
}
.text{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0.5rem;
}
.draggable{
    padding: 1rem;
    box-shadow: 0rem 0rem 1rem -0.5rem;
    cursor: move;
    border-radius: 2rem;
    height: 4vh;
    width: 10vw;
    margin: 0.5rem;
}
.draggable.dragging {
    opacity: .5;
}