:root {
  --bg-color: #F9F9F9;
  --btn1-color: #060505;
  --btn-color: #fbab16;
  --btn2-hover:#EB7A02;
  --1:#B5AFA4;
  --2:#665B52;
  --3:#488BAA;
}

* {
  font-family: 'Montserrat', sans-serif; 
}

body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
  height: 100vh;
  width: 100vw;
  display: flex;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  align-items: stretch;
  width: 15%;
  height: 100%;
}

.root {
  width: 85%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.sidebar {
  background: #fbab16;
  color: #fff;
  transition: all 0.3s;
}

.sidebar .sidebar-header {
  padding: 20px;
  background: #EB7A02;
}

.sidebar ul.components {
  padding: 20px 0;
}

.sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

.sidebar ul li a:hover {
  color: #fbab16 !important;
  background: #fff;
  cursor: pointer;
}

.sidebar ul li.active > a, a[aria-expanded="true"] {
  color: #fff;
  background: #EB7A02;
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #EB7A02;
}
