  :root {
    --bg-color: #F9F9F9;
    --btn1-color: #060505;
    --btn-color: #EFA135;
    --1:#B5AFA4;
    --2:#EB7A02;
    --3:#665B52;
    --4:#488BAA;
  }
  :font {
    font-family: 'Montserrat', sans-serif; 
  }