<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/client/src/Style/root.css" rel="stylesheet">
    <link rel="stylesheet" href="SprintDashboard.style.css">
    <title>Document</title>
</head>
<body>
    <div class="dashboard">
        <div class="dash-header">
            <h1> Sprint Dashboard</h1>
        </div>
        <div class="section1">
            <div class="left">
                <h1 id="count"> </h1>
            </div>
            <div class="right">
                <button id="addtask"><h1>Add Task</h1></button>
                <div id="taskpop" class="popup">
                    <div class="input-sec">
                        <label for="description">Description </label>
                        <input type="talbename" placeholder="Enter A Title" id="description" />
                    </div>
                    <button id="task-btn"><h1>Sumbit</h1></button>
                </div>
                <button id="addtable"><h1>Add Table</h1></button>
                <div id="tablepop" class="popup">
                    <div class="input-sec">
                        <label for="title">Title </label>
                        <input type="talbename" placeholder="Enter A Title" id="title" />
                    </div>
                    <div class="input-sec">
                        <label for="color"> Color </label>
                        <input type="talbename" placeholder="Enter A Color" id="color" />
                    </div>
                    <button id="table-btn"><h1>Sumbit</h1></button>
                </div>
                <button><h1>Backlog</h1></button>
            </div>
        </div>
        <div class="section" id="section">
            <div class="container">
                <div id="title" class="title">
                    <div class="title-head">
                        <p class="text"> In Sprint </p>
                        <h2 class="counter"> %</h2>
                    </div>
                    <div class="progress">
                        <div class="colordiv" style="background-color: yellow;"></div>    
                    </div>   
                </div>
                <p class="draggable" draggable="true">3</p>
                <p class="draggable" draggable="true">4</p>
            </div>
            <div class="container">
                <div id="title" class="title">
                    <div class="title-head">
                        <p class="text"> In Progress </p>
                        <h2 class="counter"> %</h2>
                    </div>
                    <div class="progress">
                        <div class="colordiv" style="background-color: blue;"></div>    
                    </div>  
                </div>
                <p class="draggable" draggable="true">3</p>
                <p class="draggable" draggable="true">4</p>
            </div>
            <div class="container">
                <div id="title" class="title">
                    <div class="title-head">
                        <p class="text"> Ready For CR </p>
                        <h2 class="counter"> %</h2>
                    </div>
                    <div class="progress">
                        <div class="colordiv" style="background-color: purple;"></div>    
                    </div>  
                </div>
                <p class="draggable" draggable="true">3</p>
                <p class="draggable" draggable="true">4</p>
            </div>
            <div class="container">
                <div id="title" class="title">
                    <div class="title-head">
                        <p class="text"> Completed </p>
                        <h2 class="counter"> %</h2>
                    </div>
                    <div class="progress">
                        <div class="colordiv" style="background-color: green;"></div>    
                    </div> 
                </div>
                <p class="draggable" draggable="true">3</p>
                <p class="draggable" draggable="true">4</p>
            </div>
        </div>
    </div>
</body>
<script src="dash1.js"></script>
</html>