@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #F9F9F9;
  --btn1-color: #060505;
  --btn-color: #fbab16;
  --btn2-hover:#EB7A02;
  --1:#B5AFA4;
  --2:#665B52;
  --3:#488BAA;
}
.Lbody {
  margin:0;
  background-color: var(--bg-color);
  font-family: 'Montserrat', sans-serif; 
}
