.card__header {
  background-color: var(--btn1-color);
  color: var(--bg-color);
  padding: 3rem 0rem;
  text-align: center;
  width: 20vw;
  border-radius: 0 0 2rem 2rem;
  font-size: 3rem;
}

.header h2 {
	margin: 0;
}
